  
  hr,p,span {
    all: unset;
  }
  
  .timeline {
    height: 350px;
    margin: 0px 100px 0px 100px;
    all: unset;
    font: unset;
  }

  .grid {
    display: grid;
    grid-row-gap: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    height: 250px;
    width: 100%;
  }
  
  .timeboxes {
    position: relative;
    height: 270px;
  }
  
  .timeline .bottomline{
    position: relative;
    top:-40px;
  }

  .timeline .bottomline span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  
  .timebox .title {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
  }

  .timebox {
    z-index: 10;
    color: rgb(0, 0, 0);
    position: relative;
    font-weight: bold;
    font-size: smaller;
    overflow: hidden;
    border: solid;
    border-color: rgb(133, 133, 133);
    background: repeating-linear-gradient( 45deg, #ffffff, #ffffff 5px, #f8f8f8 5px, #f8f8f8 10px);
  }

  /* .timebox:hover {
    overflow:visible;
    z-index: 11;
  } */

 hr {
    position: relative;
    display: block;
    height: 0px;
    border: 0;
    border-top: 2px solid;
    margin: 1em 0;
    padding: 0;
    top: 28px;
}

.timeline .label .vertical-line {
  display: inline-block;
  height: 20px;
  border-left: solid #000000;
}

.timeline .bottomline .label .year-text {
  position: relative;
  margin: 0;
  padding: 0;
  width: 0;
  left: -1em;
}

.timeline .bottomline .label {
  position: relative;
  margin: 0;
  padding: 0;
  width: 0;
}
